@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: theme('fontFamily.sans');
	font-size: 14px;
	line-height: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

button {
	cursor: pointer;
	border: 0;
	padding: 0;
}

@layer components {
	.main-header {
		padding: theme('spacing.2') 0;
		font-family: theme('fontFamily.sans');
		font-weight: theme('fontWeight.bold');
	}
	.nav {
		position: absolute;
		width: 100%;
		z-index: 20;
		color: theme('colors.white');
		padding: 0 theme('spacing.2');
	}
	.signup-span {
		position: relative;
	}
	.signup-span::before {
		content: '';
		position: absolute;
		left: -20%;
		top: -10%;
		width: theme('spacing.4');
		height: theme('spacing.5');
		background-image: url('../assets/circle-user.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
	.card {
		display: flex;
		flex-direction: column;
		font-weight: theme('fontWeight.medium');
		background-color: transparent;
		border-radius: theme('borderRadius.none');
	}
	.carousel-img {
		border-radius: theme('borderRadius.lg');
		box-shadow: theme('boxShadow.main');
		width: theme('width.32');
		height: theme('height.20');
		display: flex;
		margin-bottom: theme('spacing.1');
		background-color: white;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	.plants-card {
		border-radius: theme('borderRadius.lg');
		text-align: center;
		min-width: theme('width.36');
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
		margin-bottom: 16px;
	}
	.plants-img {
		width: theme('width.full');
		height: theme('height.20');
		background-color: theme('colors.black');
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		border-radius: theme('spacing.2') theme('spacing.2') 0 0;
		position: relative;
	}
	.plants-rate {
		position: relative;
		width: theme('spacing.11');
		height: theme('spacing.4');
		margin: 0 auto;
		z-index: 10;
		color: theme('colors.white');
		font-weight: theme('fontWeight.medium');
		border-radius: theme('borderRadius.sm');
	}
	.plants-rate::after {
		position: absolute;
		left: 4px;
		content: '';
		width: 13px;
		height: 13px;
		background-image: url('../assets/plants/star.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
	.banner {
		display: flex;
		margin: 0 auto;
		border-radius: theme('borderRadius.lg');
		padding: theme('spacing.2') theme('spacing.4');
		background-position: center;
		height: 100px;
		max-width: 304px;
		margin-top: 20px;
	}
}
